/* NAVIGATION BAR */

#nav-bar {
  padding: 1%;
  width: 100;
  text-align: center;
  border-bottom: solid;
  margin-bottom: 1%;
}

#nav-bar p {
  float: right;
  padding-right: 1%;
}

#nav-bar h4 {
  display: inline-block;
}

#nav-buttons {
  float: left;
}

/* PROFILE CONTAINER */

#profile-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#job-app-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2%;
}

.job-app-display-child {
  padding: 1%;
  align-content: center;
}

.company-link {
  display: inline-block;
}

#job-sites {
  text-align: center;
}

#job-sites h5 {
  padding: 1%;
}

.job-sites-buttons {
  margin: 3px;
  display: inline-block;
}

/* ALL FORMS */

.form-div {
  display: block;
  text-align: center;
  margin-bottom: 2%;
}

.form-div Button {
  margin-right: 2% !important;
}

form {
  /* margin:auto;
  padding: 2%; */
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

/* GENERAL ELEMENT STYLES */

input[type=text], input[type=password] {
  width: 5em;
  height: 1em;
}

.error {
  padding-left: 15%;
  color: red;
  font-size: 12px;
}
