#App {
  padding: 2%;
}

#UserShow {
  padding: 1%;
}

#error {
  padding-left: 15%;
  color: red;
  font-size: 12px;
}

#JobAppDisplay {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 3em;
}

.company {
  grid-column: 3;
}

.position {
  grid-column: 4;
}

.contact {
  grid-column: 5;
}

.coverLetter {
  grid-column: 6;
}

.resume {
  grid-column: 7;
}

.weekCheckup {
  grid-column: 8;
}

.foundOn {
  grid-column: 9 / 9;
}
