/* NAVIGATION BAR */

#Navbar {
  padding: 1%;
  width: 100;
  text-align: center;
  border-bottom: solid;
  margin-bottom: 1%;
}

#Navbar p {
  float: right;
  padding-right: 1%;
}

#navButtons {
  float: left;
}

#Navbar h4 {
  display: inline-block;
}

/* PROFILE CONTAINER */

#ProfileContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#JobAppDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.JobAppDisplay-child {
  padding: 1%;
}

#jobSites {
  padding-left: 1%;
}

.jobSites-buttons {
  margin: 3px;
}

/* ALL FORMS */

#JobAppForm Button {
  margin: 2% !important;
}

#JobAppForm {
  display: block;
  text-align: center;
}

#JobAppForm form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left
}

#edit-user Button {
  margin-right: 2% !important;
}

form {
  margin:auto;
  padding: 2%;
}

#EditApp {
  display: block;
  text-align: center;
}

#EditApp form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left
}

/* GENERAL ELEMENT STYLES */

input[type=text], input[type=password] {
  width: 5em;
  height: 1em;
}

.btn-link {
  padding: 0px !important;
}

.error {
  padding-left: 15%;
  color: red;
  font-size: 12px;
}

#EditApp {
  text-align: center;
}
